html {
  box-sizing: border-box;
}

.title-lg {
  font-size: 21px;
  color: #fff;
}

.title-md {
  font-size: 18px;
}

.title-sm {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.mt-2 {
  margin-top: 20px;
}

.ml-2 {
  margin-left: 20px;
}

.wrapper .header {
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #d8d8d8;
}

.wrapper .header .container .header__body {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.wrapper .header .container .header__body .header__searchBox {
  position: relative;
}

.wrapper .header .container .header__body .header__searchBox input {
  width: 180px;
  height: 35px;
  border-radius: 5px;
  border: .5px solid #d8d8d8;
}

.wrapper .header .container .header__body .header__searchBox input::placeholder {
  margin-left: 20px;
  color: #d8d8d8;
}

.wrapper .header .container .header__body .header__searchBox button {
  position: absolute;
  border: none;
  line-height: 80px;
  right: 15px;
  background: none;
}

.wrapper .header .container .header__body .header__searchBox button .fa.fa-search {
  color: #afafaf;
}

.wrapper .header .container .header__body .grid-layout {
  display: flex;
}

.wrapper .header .container .header__body .grid-layout li {
  margin: auto 10px;
}

.wrapper .header .container .header__body .grid-layout li a {
  color: #000;
  font-weight: 900;
}

@media (max-width: 960px) {
  .wrapper .header .header__nav {
    display: none;
  }
  .wrapper .header .header__searchBox {
    position: relative;
  }
  .wrapper .header .header__searchBox input {
    width: 500px;
    height: 35px;
    border-radius: 5px;
    border: .5px solid #d8d8d8;
  }
  .wrapper .header .header__searchBox input::placeholder {
    margin-left: 20px;
    color: #d8d8d8;
  }
  .wrapper .header .header__searchBox button {
    position: absolute;
    border: none;
    line-height: 80px;
    right: 15px;
    background: none;
  }
  .wrapper .header .header__searchBox button .fa.fa-search {
    color: #afafaf;
  }
}

.wrapper .main {
  margin-top: 10px;
}

.wrapper .main .container .main__content {
  display: flex;
  flex-wrap: wrap;
}

.wrapper .main .container .main__content .main__content-left {
  flex: 70%;
}

.wrapper .main .container .main__content .main__content-left .content__left-feature {
  display: flex;
  flex-wrap: wrap;
}

.wrapper .main .container .main__content .main__content-left .content__left-feature div {
  flex: 60%;
  padding: 3px;
}

.wrapper .main .container .main__content .main__content-left .content__left-feature .news-hot {
  flex: 40%;
}

.wrapper .main .container .main__content .main__content-left .content__left-feature .news-hot .new-hot__content {
  margin-top: 10px;
}

.wrapper .main .container .main__content .main__content-left .content__left-feature .news-hot .new-hot__content:nth-child(1) {
  margin-top: 0px;
}

.wrapper .main .container .main__content .main__content-left .content__left-feature .news-hot .new-hot__content {
  display: flex;
  flex: wrap;
}

.wrapper .main .container .main__content .main__content-left .content__left-feature .news-hot .new-hot__content .image-new-hot {
  flex: 40%;
}

.wrapper .main .container .main__content .main__content-left .content__left-feature .news-hot .new-hot__content .new-hot-content {
  flex: 60%;
}

.wrapper .main .container .main__content .main__content-left .new-event .new-event-title {
  margin: 20px 0;
  display: flex;
  position: relative;
}

.wrapper .main .container .main__content .main__content-left .new-event .new-event-title h3 {
  background-color: #01a050;
  width: 20%;
  text-align: center;
  color: #fff;
}

.wrapper .main .container .main__content .main__content-left .new-event .new-event-title .line {
  width: 100%;
  height: 2px;
  background-color: #01a050;
  position: absolute;
  bottom: 0;
}

.wrapper .main .container .main__content .main__content-left .new-event .new-event-body {
  display: flex;
  flex-wrap: wrap;
}

.wrapper .main .container .main__content .main__content-left .new-event .new-event-body .event-body-content {
  display: flex;
  flex: 70%;
}

.wrapper .main .container .main__content .main__content-left .new-event .new-event-body .event-body-content .body-content-image {
  width: 100%;
  padding: 21px;
}

.wrapper .main .container .main__content .main__content-left .new-event .new-event-body .body-event-small {
  padding-left: 30px;
  flex: 30%;
}

.wrapper .main .container .main__content .main__content-left .new-event .new-event-body .body-event-small .event-small__content {
  display: flex;
}

.wrapper .main .container .main__content .main__content-left .new-event .new-event-body .body-event-small .event-small__content .content-image img {
  width: 100%;
}

.wrapper .main .container .main__content .main__content-left .new-event .new-event-body .body-event-small .event-small__content .content-title {
  margin-left: 20px;
}

.wrapper .main .container .main__content .main__content-left .new-event .new-event-body .body-event-small .event-small__content .content-title h3 {
  font-size: 14px;
}

.wrapper .main .container .main__content .main__content-right {
  flex: 30%;
  padding-left: 7px;
}

.wrapper .main .container .main__content .main__content-right .right__title-content .content-body {
  display: flex;
  margin-top: 10px;
}

.wrapper .main .container .main__content .main__content-right .right__title-content .content-body .body-image img {
  padding-right: 10px;
}

.wrapper .main .container .main__content .main__content-right .right__title-content .content-body .body-content p {
  font-style: bold;
  font-weight: 900;
}

@media (max-width: 600px) {
  .wrapper .main .container .main__content .main__content-left {
    flex: 100%;
  }
  .wrapper .main .container .main__content .main__content-right {
    flex: 100%;
  }
}

.wrapper .footer {
  background-color: #01a050;
  color: #fff;
}

.wrapper .footer .container .footer__detail {
  display: flex;
  flex-wrap: wrap;
}

.wrapper .footer .container .footer__detail .detail-content {
  flex: 25%;
  padding: 10px 10px;
}

.wrapper .footer .container .detail-content.detail__about ul li {
  margin-top: 10px;
}

.wrapper .footer .container .detail-content.detail__category ul li {
  margin-top: 10px;
}

.wrapper .footer .container .detail-content.detail__news ul li {
  margin-top: 10px;
}

.wrapper .footer .container .listener {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*# sourceMappingURL=style.css.map */