html {
  box-sizing: border-box;
}
.title-lg {
  font-size: 21px;
  color: #fff;
}
.title-md {
  font-size: 18px;
}
.title-sm {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
ul,
li {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
//body
.wrapper {
  .header {
    height: 80px;
    line-height: 80px;

    .container {
      .header__body {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        .header__logo {
        }
        .header__nav {
        }
        .header__searchBox {
        }
        img {
        }
        .grid-layout {
          display: flex;
          li {
            margin: auto 10px;
          }
        }
        button {
          .fa.fa-search {
          }
          &:hover {
          }
          &:active {
          }
          &:focus {
          }
        }
      }
    }
  }

  //main

  .main {
    .container {
      .main__content {
        display: flex;
        flex-wrap: wrap;
        .main__content-left {
          flex: 70%;
          .content__left-feature {
            display: flex;
            flex-wrap: wrap;
            div {
              flex: 60%;
              .new {
                .new-image {
                }
                .new-content {
                }
                img {
                }
              }
            }
            .news-hot {
              flex: 40%;

              .new-hot__content{

                margin-top: 10px;
                .image-new-hot {
                  img {
                  }
                }
                .new-hot-content {
                  h3 {
                  }
                }
                &:nth-child(1){
                  margin-top: 0px;
                }
              }
              .new-hot__content {
                display: flex;
                flex: wrap;
                .image-new-hot {
                  flex: 40%;
                  img {
                  }
                }
                .new-hot-content {
                  flex: 60%;
                  h3 {
                  }
                }
              }
            }
          }
        }
        .main__content-right {
          flex: 30%;
        }
        @media (max-width: 600px) {
          .main__content-left {
            flex: 100%;
          }
          .main__content-right {
            flex: 100%;
          }
        }
      }
    }
  }

  //footer

  .footer {
    .container {
      .footer__detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        div {
          flex: 25%;
        }
        @media (max-width: 600px) {
          div {
            flex: 50%;
          }
        }
      }
      div {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        h4 {
        }
      }
    }
  }
}
